biome.json
Dockerfile
.dockerignore
flake.lock
flake.nix
.git
.gitignore
LICENSE
node_modules/
README.md

frontend/.env.example
frontend/.env
frontend/.gitignore
frontend/node_modules
frontend/dist

backend/.env.example
backend/.env
backend/.gitignore
backend/dist
